.codbox {
  text-decoration: none;
  position: relative;
  font-size: 1.125em;
  line-height: 1.389em;
  color: inherit;
  display: inline-block;
  min-width: 3.667em;
  white-space: nowrap;
}
.button-1,
.button-1-wrapper {
  display: flex;
  align-items: flex-start;
}
.button-1 {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #242424;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.125em 1.188em 0.125em 1.25em;
}
.button-1-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0.563em;
}
.products {
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  display: inline-block;
  min-width: 6.714em;
  white-space: nowrap;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.938em 0 0;
}
.products1 {
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-family: Manrope;
  color: #171a1f;
  white-space: pre-wrap;
  text-align: left;
}
.product-item {
  flex: 1;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
  z-index: 1;
}
.products2 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-weight: 700;
  font-family: Manrope;
  color: #171a1f;
  white-space: pre-wrap;
  text-align: left;
}
.product-item1 {
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
  margin-left: -0.5em;
}
.product-item-parent,
.product-item1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.products3 {
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-family: Manrope;
  color: #171a1f;
  white-space: pre-wrap;
  text-align: left;
}
.frame {
  flex: 1;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
}
.products4 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-weight: 700;
  font-family: Manrope;
  color: #171a1f;
  text-align: left;
}
.frame-container,
.frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1 {
  flex: 1;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
  z-index: 1;
  margin-left: -1.687em;
}
.frame-container {
  width: 15.938em;
}
.start-today {
  text-decoration: none;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-weight: 800;
  font-family: Manrope;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 5.714em;
}
.container-8 {
  cursor: pointer;
  border: 0;
  padding: 0.438em 1.375em 0.438em 1.438em;
  background-color: #5c6df5;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.container-8:hover {
  background-color: #7587ff;
}
.container-8,
.container-8-wrapper,
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
}
.container-8-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0;
}
.frame-group {
  margin: 0;
  flex: 1;
}
.container-2,
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent {
  width: 49em;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.25em;
}
.container-2 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefefe;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.375em 1.875em 0.188em;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 1.25em;
  text-align: left;
  color: #171a1f;
  font-family: Manrope;
}
.bittorrent-token {
  margin: 0;
  position: relative;
  font-size: 2.875em;
  line-height: 1.391em;
  font-weight: 700;
  font-family: inherit;
}
.bittorrent-token-wrapper {
  width: 22.813em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25em;
  box-sizing: border-box;
  max-width: 100%;
}
.tokenizing-the-worlds {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: 1.5em;
  line-height: 1.417em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.dalle-2024-06-06-212216-i {
  height: 10.688em;
  width: 9.25em;
  position: absolute;
  margin: 0 !important;
  top: -9.062em;
  left: -2.562em;
  object-fit: cover;
  z-index: 1;
}
.frame-wrapper,
.tokenizing-the-worlds-largest-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tokenizing-the-worlds-largest-parent {
  flex: 1;
  position: relative;
}
.frame-wrapper {
  width: 34em;
  padding: 0 0.063em;
  box-sizing: border-box;
}
.blank-line,
.build-your-website {
  margin: 0;
}
.btt-is-a-container {
  width: 30.813em;
  position: relative;
  font-size: 1em;
  line-height: 1.625em;
  display: inline-block;
  flex-shrink: 0;
  min-width: 30.813em;
  max-width: 100%;
}
.bittorrent-token1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: 4em;
  line-height: 1em;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.image-15 {
  position: absolute;
  top: 0.875em;
  left: 0;
  border-radius: 196px;
  width: 24.5em;
  height: 24.5em;
}
.dalle-2024-06-06-212216-i1 {
  position: absolute;
  top: 0;
  left: 5.25em;
  width: 20.813em;
  height: 21.938em;
  object-fit: contain;
  z-index: 1;
}
.image-15-parent {
  height: 25.375em;
  width: 26.063em;
  position: absolute;
  margin: 0 !important;
  top: -22.187em;
  left: -7.937em;
}
.bittorrent-token-parent,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bittorrent-token-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.frame-wrapper1 {
  width: 19.063em;
  flex-direction: column;
  padding: 9.063em 0 0;
  box-sizing: border-box;
  min-width: 19.063em;
  color: #fff;
  font-family: Lexend;
}
.btt-is-a-trc-20-utility-token-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 1.25em;
  color: #bdc1ca;
  font-family: Manrope;
}
.frame-parent1 {
  width: 67.563em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.688em;
  max-width: 100%;
}
.conversion-output-inner,
.conversion-output3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.conversion-output-inner {
  width: 86.313em;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25em;
  max-width: 100%;
  text-align: left;
  color: #fff;
  font-family: Lexend;
}
.conversion-output3 {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #37383e;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 8.375em;
  gap: 8.625em;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .product-item-parent {
    display: none;
  }
  .bittorrent-token {
    font-size: 2.313em;
    line-height: 1.378em;
  }
  .btt-is-a-container {
    flex: 1;
  }
  .bittorrent-token1 {
    font-size: 3.188em;
    line-height: 1em;
  }
  .frame-wrapper1 {
    flex: 1;
  }
  .btt-is-a-trc-20-utility-token-parent {
    flex-wrap: wrap;
  }
  .conversion-output3 {
    gap: 4.313em;
  }
}
@media screen and (max-width: 700px) {
  .products2 {
    display: none;
  }
  .btt-is-a-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .frame-container {
    display: none;
  }
  .frame-parent {
    gap: 1.125em;
  }
  .bittorrent-token {
    font-size: 1.75em;
    line-height: 1.357em;
  }
  .tokenizing-the-worlds {
    font-size: 1.188em;
    line-height: 1.421em;
  }
  .bittorrent-token1 {
    font-size: 2.375em;
    line-height: 1em;
  }
  .conversion-output3 {
    gap: 2.125em;
  }
}
.truly-decentralised,
.web3-is-not {
  margin: 0;
}
.web3 {
  align-self: stretch;
  position: relative;
  font-size: 1.5em;
  line-height: 1.208em;
}
.flash-off-2 {
  width: 1.313em;
  height: 1.313em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.flash-off-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.313em 0 0;
}
.div {
  position: relative;
  font-size: 1.375em;
  line-height: 1.409em;
  display: inline-block;
  min-width: 4.5em;
}
.button-16 {
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.625em 0.625em 0.625em 1.313em;
  gap: 0.5em;
}
.doc {
  margin: 0;
}
.div1 {
  position: relative;
  font-size: 1.375em;
  line-height: 1.409em;
}
.launch-icon1 {
  width: 1.188em;
  height: 1.188em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-15,
.launch-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.313em 0 0;
}
.button-15 {
  flex: 1;
  border-radius: 4px;
  background-color: #080414;
  border: 1px solid #bdc1ca;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.625em 1.25em 0.5em 3.063em;
  min-width: 7.25em;
  gap: 1.25em;
  color: #bdc1ca;
}
.call-to-action,
.web3-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.call-to-action {
  width: 23.875em;
  flex-direction: row;
  align-items: flex-end;
  gap: 2.813em;
  color: #171a1f;
  font-family: Manrope;
}
.web3-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
  min-width: 21.188em;
}
.flash-off-21 {
  height: 1.5em;
  width: 1.5em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mint-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.75em;
}
.a {
  margin-top: -0.333em;
  text-decoration: none;
  position: relative;
  font-size: 1.5em;
  line-height: 1.5em;
  color: inherit;
  display: inline-block;
}
.button-161,
.mint-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.mint-label {
  height: 1.75em;
  flex-direction: row;
  padding: 0;
  flex-shrink: 0;
}
.button-161 {
  height: 4.375em;
  margin: 0 !important;
  position: absolute;
  bottom: -4.125em;
  left: 4.375em;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 1.438em 1.188em;
}
.div2 {
  width: 18.75em;
  position: relative;
  font-size: 1.5em;
  line-height: 1.458em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.button-162,
.token-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.button-162 {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  justify-content: flex-end;
  padding: 0.813em 0;
  box-sizing: border-box;
  z-index: 1;
  color: #171a1f;
}
.token-buttons {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
}
.image-icon {
  height: 4.563em;
  width: 14.313em;
  position: relative;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1.125em;
}
.token-buttons-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.563em;
  max-width: 100%;
}
.image-9-icon {
  width: 22.375em;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.feature-list,
.image-9-wrapper {
  align-self: stretch;
  align-items: flex-start;
}
.image-9-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25em;
  box-sizing: border-box;
  max-width: 100%;
}
.feature-list {
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.813em;
}
.feature-list,
.features,
.header {
  display: flex;
  max-width: 100%;
}
.features {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0.063em;
  box-sizing: border-box;
  min-width: 21.125em;
  margin-left: -6.062em;
  color: #161719;
  font-family: Manrope;
}
.header {
  width: 59em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  row-gap: 20px;
  text-align: left;
  color: #1c202b;
  font-family: Lexend;
}
.onchain {
  align-self: stretch;
  width: 4.278em;
  position: relative;
  font-size: 1.125em;
  line-height: 1.556em;
  display: inline-block;
  flex-shrink: 0;
}
.onchain-wrapper,
.untitled-screen {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.onchain-wrapper {
  align-self: stretch;
  height: 1.75em;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 30.25em;
  flex-shrink: 0;
}
.untitled-screen {
  width: 100%;
  height: 16.563em;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.375em 5.375em 2.813em;
  gap: 18.125em;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  font-family: Lexend;
}
@media screen and (max-width: 925px) {
  .untitled-screen {
    height: auto;
    gap: 9.063em;
    padding-left: 2.688em;
    padding-right: 2.688em;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .web3-parent {
    gap: 1.5em;
    min-width: 100%;
  }
  .features {
    min-width: 100%;
    margin-left: 0;
  }
  .onchain-wrapper {
    padding-left: 15.125em;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .web3 {
    font-size: 1.188em;
    line-height: 1.211em;
  }
  .div,
  .div1 {
    font-size: 1.125em;
    line-height: 1.389em;
  }
  .call-to-action {
    flex-wrap: wrap;
    gap: 1.375em;
  }
  .a,
  .div2 {
    font-size: 1.188em;
    line-height: 1.526em;
  }
  .div2 {
    line-height: 1.474em;
  }
  .onchain-wrapper,
  .untitled-screen {
    padding-left: 1.25em;
    box-sizing: border-box;
  }
  .untitled-screen {
    gap: 4.5em;
    padding-right: 1.25em;
  }
}
.leverage-for-web3 {
  margin: 0;
  position: absolute;
  top: 0.955em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
}
.learn-more {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 55.5px);
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Open Sans";
  color: #171a1f;
  text-align: left;
  display: inline-block;
  min-width: 5.438em;
}
.arrow-right-icon,
.button-30 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon {
  top: calc(50% - 9px);
  left: calc(50% + 37.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-30 {
  cursor: pointer;
  border: 1px solid #222534;
  padding: 0;
  background-color: #f2f3f6;
  top: 12.125em;
  left: 2.938em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-301:hover,
.button-30:hover {
  background-color: #d9d9de;
  border: 1px solid #545966;
  box-sizing: border-box;
}
.image-63-icon {
  position: absolute;
  top: 1.375em;
  left: 1.25em;
  border-radius: 4px;
  width: 1.688em;
  height: 1.688em;
  object-fit: cover;
}
.historical-and-real-time {
  position: absolute;
  top: 3.667em;
  left: 3.6em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  color: #3a4254;
  width: 35.8em;
  height: 8em;
}
.container-62 {
  position: absolute;
  top: 11.875em;
  left: 2.313em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  width: 37.938em;
  height: 15.5em;
}
.leverage-for-web31 {
  margin: 0;
  position: absolute;
  top: 0.955em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
}
.learn-more1 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 55.5px);
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Open Sans";
  color: #171a1f;
  text-align: left;
  display: inline-block;
  min-width: 5.438em;
}
.arrow-right-icon1,
.button-301 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon1 {
  top: calc(50% - 9px);
  left: calc(50% + 37.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-301 {
  cursor: pointer;
  border: 1px solid #222534;
  padding: 0;
  background-color: #f2f3f6;
  top: 12.125em;
  left: 2.938em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.image-63-icon1 {
  position: absolute;
  top: 1.375em;
  left: 1.25em;
  border-radius: 4px;
  width: 1.688em;
  height: 1.688em;
  object-fit: cover;
}
.historical-and-real-time1 {
  position: absolute;
  top: 3.667em;
  left: 3.6em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  color: #3a4254;
  width: 35.8em;
  height: 8em;
}
.container-63 {
  position: absolute;
  top: 11.875em;
  left: 46.563em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  width: 37.938em;
  height: 15.5em;
}
.find-new-ways {
  position: absolute;
  top: 3.6em;
  left: 3.4em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  width: 25.533em;
  height: 6em;
}
.learn-level-up,
.learn-more2 {
  position: absolute;
  color: #171a1f;
}
.learn-level-up {
  margin: 0;
  top: 0.909em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
}
.learn-more2 {
  text-decoration: none;
  top: calc(50% - 11.5px);
  left: calc(50% - 52.5px);
  font-size: 0.938em;
  line-height: 1.533em;
  font-family: "Open Sans";
  text-align: left;
  display: inline-block;
  min-width: 5.467em;
}
.arrow-right-icon2,
.button-35 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon2 {
  top: calc(50% - 9px);
  left: calc(50% + 34.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-35 {
  cursor: pointer;
  border: 1px solid #212432;
  padding: 0;
  background-color: #f2f3f6;
  top: 9.188em;
  left: 2.75em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-32:hover,
.button-33:hover,
.button-35:hover {
  background-color: #d9d9de;
  border: 1px solid #545766;
  box-sizing: border-box;
}
.container-61,
.image-65-icon {
  position: absolute;
  border-radius: 4px;
}
.image-65-icon {
  top: 1.625em;
  left: 1.375em;
  width: 1.375em;
  height: 1.375em;
  object-fit: cover;
}
.container-61 {
  top: 29.5em;
  left: 57.313em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefffe;
  width: 27.313em;
  height: 12.063em;
  color: #3a4254;
}
.compliance-aml,
.learn-more3 {
  position: absolute;
  display: inline-block;
}
.compliance-aml {
  margin: 0;
  top: 0.909em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
  min-width: 5.773em;
}
.learn-more3 {
  text-decoration: none;
  top: calc(50% - 11.5px);
  left: calc(50% - 52.5px);
  font-size: 0.938em;
  line-height: 1.533em;
  font-family: "Open Sans";
  color: #171a1f;
  text-align: left;
  min-width: 5.467em;
}
.arrow-right-icon3,
.button-32 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon3 {
  top: calc(50% - 9px);
  left: calc(50% + 34.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-32 {
  cursor: pointer;
  border: 1px solid #262937;
  padding: 0;
  background-color: #f2f3f6;
  top: 9em;
  left: 2.813em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-32:hover,
.button-33:hover {
  border: 1px solid #595c6b;
}
.image-66-icon {
  position: absolute;
  top: 1.625em;
  left: 1.438em;
  border-radius: 4px;
  width: 1.375em;
  height: 1.25em;
  object-fit: cover;
}
.full-sets-of {
  position: absolute;
  top: 4.533em;
  left: 2.267em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  color: #3a4254;
  width: 27.067em;
  height: 4em;
}
.container-60 {
  position: absolute;
  top: 29.5em;
  left: 1.813em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  width: 27.313em;
  height: 12.063em;
}
.insights-into-your {
  position: absolute;
  top: 3.733em;
  left: 3.6em;
  font-size: 0.938em;
  line-height: 1.867em;
  display: inline-block;
  width: 21em;
  height: 5.6em;
}
.learn-more4,
.leverage-for-nft {
  position: absolute;
  color: #171a1f;
  display: inline-block;
}
.leverage-for-nft {
  margin: 0;
  top: 0.87em;
  left: 2.435em;
  font-size: 1.438em;
  line-height: 1.565em;
  font-weight: 700;
  font-family: inherit;
  width: 14.087em;
  height: 1.565em;
}
.learn-more4 {
  text-decoration: none;
  top: calc(50% - 11.5px);
  left: calc(50% - 52.5px);
  font-size: 0.938em;
  line-height: 1.533em;
  font-family: "Open Sans";
  text-align: left;
  min-width: 5.467em;
}
.arrow-right-icon4,
.button-33 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon4 {
  top: calc(50% - 9px);
  left: calc(50% + 34.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-33 {
  cursor: pointer;
  border: 1px solid #242735;
  padding: 0;
  background-color: #f2f3f6;
  top: 9.063em;
  left: 2.875em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-33:hover {
  border: 1px solid #575969;
}
.container-59,
.image-68-icon {
  position: absolute;
  border-radius: 4px;
}
.image-68-icon {
  top: 1.75em;
  left: 1.5em;
  width: 1.375em;
  height: 1.188em;
  object-fit: cover;
}
.container-59 {
  top: 29.5em;
  left: 31.063em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefffe;
  width: 23.75em;
  height: 11.938em;
  color: #3a4254;
}
.see-how-parsiq,
.use-cases {
  position: absolute;
  font-weight: 700;
}
.see-how-parsiq {
  margin: 0;
  top: 1.732em;
  left: 4.78em;
  font-size: 2.563em;
  line-height: 1.415em;
  font-family: inherit;
  color: #191e25;
  white-space: pre-wrap;
}
.use-cases {
  text-decoration: none;
  top: 1.16em;
  left: 7.84em;
  font-size: 1.563em;
  line-height: 1.52em;
  color: #3a4254;
}
.checkbox-circle-1 {
  position: absolute;
  top: 3.813em;
  left: 0.313em;
  width: 1.25em;
  height: 1.25em;
  overflow: hidden;
  display: none;
}
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.checkbox-circle-1-parent,
.image-64-icon {
  position: absolute;
  top: 1.813em;
  left: 3.5em;
  width: 6.188em;
  height: 6.25em;
}
.image-64-icon {
  top: 22.688em;
  left: 0.25em;
  border-radius: 4px;
  width: 0.625em;
  height: 0.625em;
  object-fit: cover;
}
.conversion-output {
  width: 100%;
  height: 42.938em;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: rgba(90, 97, 110, 0.54);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #171a1f;
  font-family: Poppins;
}
@media screen and (max-width: 750px) {
  .see-how-parsiq {
    font-size: 2.063em;
    line-height: 1.394em;
  }
}
@media screen and (max-width: 450px) {
  .compliance-aml,
  .learn-level-up,
  .leverage-for-web3,
  .leverage-for-web31 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .leverage-for-nft {
    font-size: 1.125em;
    line-height: 1.611em;
  }
  .see-how-parsiq {
    font-size: 1.563em;
    line-height: 1.4em;
  }
  .use-cases {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}
.modular-blockchain-development {
  margin: 0;
  position: relative;
  font-size: 3.5em;
  line-height: 1.393em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.idea {
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
  display: inline-block;
  min-width: 2.455em;
}
.container-89,
.elements {
  display: flex;
  align-items: flex-start;
}
.container-89 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2.25em 4.125em 2.438em 4.438em;
}
.elements {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0.188em;
}
.web30-project {
  position: relative;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 800;
}
.button-66 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #171a1f;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.313em 2em;
  min-width: 21.625em;
  white-space: nowrap;
  max-width: 100%;
}
.web30-dapp {
  text-decoration: none;
  position: relative;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 700;
  color: inherit;
}
.button-65 {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #171a1f;
  box-sizing: border-box;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  padding: 2.25em 1.25em 2.188em;
  min-width: 15.938em;
  white-space: nowrap;
}
.button-65,
.buttons,
.structure {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.buttons {
  width: 50.563em;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.375em;
  font-family: Manrope;
}
.structure {
  width: 69.188em;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.25em;
}
.idea1 {
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
}
.container-90 {
  width: 30.25em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.25em 4.438em;
  box-sizing: border-box;
  min-width: 30.25em;
  white-space: nowrap;
  max-width: 100%;
}
.idea2 {
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
}
.architecture-inner,
.container-90-parent,
.container-91 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.container-91 {
  flex: 1;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fff;
  justify-content: flex-end;
  padding: 2.25em 2.063em;
  box-sizing: border-box;
  min-width: 25.813em;
}
.architecture-inner,
.container-90-parent {
  justify-content: flex-start;
}
.container-90-parent {
  flex: 1;
  gap: 3.438em;
}
.architecture-inner {
  align-self: stretch;
  padding: 0 0 0 2.188em;
  box-sizing: border-box;
}
.architecture {
  width: 75.563em;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.563em;
}
.architecture,
.blockchain,
.development {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.blockchain {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
.development {
  width: 79.375em;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.313em;
  flex-shrink: 0;
  text-align: left;
  color: #171a1f;
  font-family: Lexend;
}
.image-64-icon1 {
  width: 0.625em;
  height: 0.625em;
  position: relative;
  border-radius: 4px;
  object-fit: cover;
}
.image-64-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20.875em 0 0;
}
.use-cases2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 1.563em;
  line-height: 1.52em;
}
.use-cases-heading {
  width: 15.875em;
  height: 2.375em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3.75em;
  box-sizing: border-box;
}
.checkbox-circle-11 {
  width: 1.25em;
  height: 1.25em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.gaming-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.125em 0 0;
}
.see-how-parsiq1 {
  margin: 0;
  height: 1.415em;
  flex: 1;
  position: relative;
  font-size: 2.563em;
  line-height: 1.415em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 16.122em;
  max-width: 100%;
}
.web-games-content {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5em;
  max-width: 100%;
  color: #171a1f;
}
.use-cases-title,
.use-cases-title-wrapper,
.web-games-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.use-cases-title {
  width: 67.313em;
  flex-direction: column;
  gap: 0.25em;
  max-width: 109%;
  flex-shrink: 0;
}
.use-cases-title-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 6.688em;
  box-sizing: border-box;
  max-width: 100%;
}
.player-insights-activity {
  width: 19.474em;
  position: absolute;
  margin: 0 !important;
  top: 4.737em;
  left: 1.684em;
  font-size: 1.188em;
  line-height: 1.579em;
  display: inline-block;
  color: #3a4254;
  text-align: center;
}
.image-63-icon2 {
  width: 1.688em;
  height: 1.688em;
  position: relative;
  border-radius: 4px;
  object-fit: cover;
}
.web-games-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.063em 0 0;
}
.leverage-for-web32 {
  height: 1.545em;
  flex: 1;
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
  display: inline-block;
  min-width: 8.727em;
}
.web-games-leverage {
  width: 20.625em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.438em;
  max-width: 100%;
}
.use-parsiqs-tsunami {
  height: 1.579em;
  flex: 1;
  position: relative;
  font-size: 1.188em;
  line-height: 1.579em;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.tsunami-a-p-i,
.web-games {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tsunami-a-p-i {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 2.125em;
  box-sizing: border-box;
  color: #3a4254;
}
.web-games {
  width: 23.688em;
  flex-direction: column;
  gap: 0.438em;
}
.learn-more5 {
  align-self: stretch;
  width: 5.438em;
  position: relative;
  font-size: 1em;
  line-height: 1.5em;
  display: inline-block;
  white-space: nowrap;
}
.arrow-right-icon5 {
  width: 1.125em;
  height: 1.125em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow-right-wrapper,
.button-302,
.learn-more-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-right-wrapper {
  flex-direction: column;
  padding: 0.188em 0 0;
}
.button-302,
.learn-more-button {
  flex-direction: row;
}
.button-302 {
  align-self: stretch;
  border-radius: 19px;
  background-color: #f2f3f6;
  border: 1px solid #222534;
  overflow: hidden;
  padding: 0.406em 1em;
  gap: 0.375em;
}
.learn-more-button {
  height: 2.313em;
  padding: 0 2.063em;
  box-sizing: border-box;
  font-family: "Open Sans";
}
.container-621,
.image-66-icon1 {
  position: relative;
  border-radius: 4px;
}
.container-621 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefffe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.313em 1.25em 3.125em;
  box-sizing: border-box;
  gap: 2.625em;
  max-width: 100%;
}
.image-66-icon1 {
  width: 1.375em;
  height: 1.25em;
  object-fit: cover;
}
.image-66-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.375em 0 0;
}
.compliance-aml1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
}
.a-m-l-image {
  width: 15.25em;
  height: 2.125em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.563em;
}
.full-sets-of1,
.improper-illicit {
  height: 1.579em;
  font-size: 1.188em;
  line-height: 1.579em;
  display: inline-block;
}
.full-sets-of1 {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.improper-illicit {
  width: 13.526em;
  position: absolute;
  margin: 0 !important;
  bottom: -1.526em;
  left: 0.737em;
  text-align: left;
  z-index: 1;
}
.full-data {
  flex: 1;
  flex-direction: row;
  position: relative;
}
.a-m-l-description,
.data-analysis,
.full-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.data-analysis {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1.063em;
  box-sizing: border-box;
  text-align: center;
  color: #3a4254;
}
.a-m-l-description {
  width: 23.375em;
  flex-direction: column;
  gap: 0.438em;
}
.learn-more6 {
  text-decoration: none;
  align-self: stretch;
  width: 5.467em;
  position: relative;
  font-size: 0.938em;
  line-height: 1.533em;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
}
.arrow-right-icon6 {
  width: 1.125em;
  height: 1.125em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.156em 0 0;
}
.button-321 {
  align-self: stretch;
  border-radius: 19px;
  background-color: #f2f3f6;
  border: 1px solid #262937;
  overflow: hidden;
  flex-direction: row;
  padding: 0.438em 1.188em;
  gap: 0.313em;
}
.a-m-l-learn-more,
.button-321,
.container-601,
.container-62-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-m-l-learn-more {
  height: 2.313em;
  flex-direction: row;
  padding: 0 1.875em;
  box-sizing: border-box;
  font-family: "Open Sans";
}
.container-601,
.container-62-parent {
  flex-direction: column;
  max-width: 100%;
}
.container-601 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  padding: 1.25em 1.438em 1.375em;
  box-sizing: border-box;
  gap: 2.688em;
}
.container-62-parent {
  width: 27.313em;
  flex-shrink: 0;
  gap: 2em;
}
.image-67-icon {
  width: 1.375em;
  height: 1.313em;
  position: relative;
  border-radius: 4px;
  object-fit: cover;
}
.research-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.438em 0 0;
}
.research-analysis {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
}
.research-description {
  width: 16.438em;
  height: 2.125em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625em;
}
.historical-and-real-time2,
.support-the-analytics {
  height: 1.579em;
  font-size: 1.188em;
  line-height: 1.579em;
  display: inline-block;
}
.support-the-analytics {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.historical-and-real-time2 {
  width: 17em;
  position: absolute;
  margin: 0 !important;
  top: -1.474em;
  left: 0.842em;
  text-align: left;
  z-index: 1;
}
.support-the-analytics-you-need-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.learn-more7 {
  align-self: stretch;
  width: 5.438em;
  position: relative;
  font-size: 1em;
  line-height: 1.5em;
  display: inline-block;
  white-space: nowrap;
}
.arrow-right-icon7 {
  width: 1.125em;
  height: 1.125em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow-right-frame,
.button-31,
.research-learn-more {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-right-frame {
  flex-direction: column;
  padding: 0.188em 0 0;
}
.button-31,
.research-learn-more {
  flex-direction: row;
}
.button-31 {
  align-self: stretch;
  border-radius: 19px;
  background-color: #f2f3f6;
  border: 1px solid #292d3b;
  overflow: hidden;
  padding: 0.406em 1em;
  gap: 0.375em;
}
.research-learn-more {
  height: 2.313em;
  padding: 0 0.938em;
  box-sizing: border-box;
  text-align: left;
  color: #171a1f;
  font-family: "Open Sans";
}
.container-64,
.historical-analysis,
.historical-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.historical-analysis {
  flex: 1;
  flex-direction: column;
  gap: 0.875em;
}
.container-64,
.historical-data {
  align-self: stretch;
  box-sizing: border-box;
}
.historical-data {
  flex-direction: row;
  padding: 0 0.625em 0 0.938em;
  text-align: center;
  color: #3a4254;
}
.container-64 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  flex-direction: column;
  padding: 1.313em 1.5em 3.125em;
  gap: 2.188em;
}
.image-68-icon1 {
  width: 1.375em;
  height: 1.188em;
  position: relative;
  border-radius: 4px;
  object-fit: cover;
}
.n-f-t-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5em 0 0;
}
.leverage-for-nft1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: 1.438em;
  line-height: 1.565em;
}
.n-f-t-leverage {
  width: 18.75em;
  height: 2.25em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.125em;
  box-sizing: border-box;
}
.insights-into-your1,
.to-support-your {
  margin: 0;
}
.insights-into-your-container {
  align-self: stretch;
  height: 2.947em;
  position: relative;
  font-size: 1.188em;
  line-height: 1.474em;
  display: inline-block;
  color: #3a4254;
}
.n-f-t-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.375em;
}
.learn-more8 {
  text-decoration: none;
  align-self: stretch;
  width: 5.467em;
  position: relative;
  font-size: 0.938em;
  line-height: 1.533em;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
}
.arrow-right-icon8 {
  width: 1.125em;
  height: 1.125em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-331,
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.156em 0 0;
}
.button-331 {
  height: 2.313em;
  border-radius: 19px;
  background-color: #f2f3f6;
  border: 1px solid #242735;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0.438em 1.188em;
  gap: 0.313em;
  font-family: "Open Sans";
}
.n-f-t-description {
  flex: 1;
  flex-direction: column;
  gap: 1em;
  min-width: 15.75em;
}
.container-591,
.n-f-t-description,
.research {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container-591 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  flex-direction: row;
  padding: 1.25em 0 1.375em 1.5em;
  box-sizing: border-box;
  gap: 0.5em;
}
.research {
  width: 27.625em;
  flex-shrink: 0;
  flex-direction: column;
  gap: 2em;
}
.image-69-icon {
  width: 1.375em;
  height: 1.125em;
  position: relative;
  border-radius: 4px;
  object-fit: cover;
}
.image-69-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5em 0 0;
}
.leverage-for-trading {
  height: 1.545em;
  flex: 1;
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
  display: inline-block;
  min-width: 10.318em;
  max-width: 100%;
}
.trading-image {
  width: 23.875em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625em;
  max-width: 100%;
}
.leverage-for-trading1 {
  height: 1.579em;
  flex: 1;
  position: relative;
  font-size: 1.188em;
  line-height: 1.579em;
  display: inline-block;
  max-width: 100%;
}
.platform-support,
.trading-description {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.platform-support {
  flex-direction: row;
  padding: 0 0 0 2em;
  box-sizing: border-box;
  color: #3a4254;
}
.trading-description {
  flex-direction: column;
  gap: 0.438em;
  color: #171a1f;
}
.your-customers-by {
  height: 1.579em;
  flex: 1;
  position: relative;
  font-size: 1.188em;
  line-height: 1.579em;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.customer-data {
  width: 24.813em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.875em;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -0.125em;
  text-align: center;
}
.learn-more9,
.they-need-to {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.they-need-to {
  height: 1.579em;
  font-size: 1.188em;
  line-height: 1.579em;
  z-index: 2;
}
.learn-more9 {
  text-decoration: none;
  width: 5.467em;
  font-size: 0.938em;
  line-height: 1.533em;
  color: inherit;
}
.arrow-right-icon9 {
  height: 1.188em;
  width: 1.188em;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9.5px);
  right: 1.219em;
  overflow: hidden;
  flex-shrink: 0;
}
.button-34 {
  width: 9.063em;
  height: 2.313em;
  border-radius: 19px;
  background-color: #f2f3f6;
  border: 1px solid #232634;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0.438em 1.188em;
  position: relative;
  white-space: nowrap;
  color: #171a1f;
  font-family: "Open Sans";
}
.button-34,
.container-631,
.trades-details,
.trades-execution {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.trades-details {
  flex: 1;
  flex-direction: column;
  gap: 0.938em;
}
.container-631,
.trades-execution {
  box-sizing: border-box;
  max-width: 100%;
}
.trades-execution {
  width: 21.188em;
  flex-direction: row;
  padding: 0 1.938em;
  margin-top: -0.125em;
}
.container-631 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  flex-direction: column;
  padding: 1.313em 0 1.313em 1.375em;
}
.learn-level-up1 {
  width: 8.727em;
  height: 1.545em;
  position: relative;
  font-size: 1.375em;
  line-height: 1.545em;
  display: inline-block;
}
.data-like-never,
.find-new-ways1 {
  height: 1.579em;
  font-size: 1.188em;
  line-height: 1.579em;
  display: inline-block;
}
.find-new-ways1 {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.data-like-never {
  width: 11.211em;
  position: absolute;
  margin: 0 !important;
  bottom: -1.474em;
  left: 0;
  z-index: 1;
}
.blockchain-data {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  color: #3a4254;
}
.blockchain-data,
.learn-level-up-header,
.learn-level-up-header-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.learn-level-up-header {
  flex: 1;
  flex-direction: column;
  gap: 0.438em;
}
.learn-level-up-header-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 0.063em;
  box-sizing: border-box;
}
.learn-more10 {
  text-decoration: none;
  align-self: stretch;
  width: 5.467em;
  position: relative;
  font-size: 0.938em;
  line-height: 1.533em;
  color: inherit;
  display: inline-block;
}
.arrow-right-icon10 {
  height: 1.125em;
  width: 1.125em;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9px);
  right: 1.25em;
  overflow: hidden;
  flex-shrink: 0;
}
.button-351,
.learn-level-up-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-351 {
  width: 9.063em;
  height: 2.313em;
  border-radius: 19px;
  background-color: #f2f3f6;
  border: 1px solid #212432;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0.438em 1.25em;
  position: relative;
  white-space: nowrap;
  font-family: "Open Sans";
}
.learn-level-up-content {
  width: 23.25em;
  flex-direction: column;
  gap: 2.688em;
  max-width: 100%;
}
.image-65-icon1 {
  height: 1.375em;
  width: 1.375em;
  position: absolute;
  margin: 0 !important;
  top: 1.625em;
  left: 1.375em;
  border-radius: 4px;
  object-fit: cover;
}
.container-611 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1.25em 0.75em 1.375em;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  color: #171a1f;
}
.compliance,
.trading,
.use-cases1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.trading {
  width: 27.375em;
  flex-shrink: 0;
  flex-direction: column;
  gap: 2em;
  max-width: 100%;
  color: #3a4254;
}
.compliance,
.use-cases1 {
  width: 68.625em;
}
.compliance {
  overflow-x: auto;
  flex-direction: row;
  gap: 1.844em;
  max-width: 100%;
  color: #171a1f;
}
.use-cases1 {
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  gap: 5.5em;
  max-width: calc(100% - 25px);
}
.conversion-output2 {
  width: 90em;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #e3e7ee;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.813em 0.25em 1.5em;
  gap: 0.938em;
  max-width: 138%;
}
.conversion-output1,
.conversion-output2,
.output {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.output {
  width: 79.375em;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 13.938em;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  color: #3a4254;
  font-family: Poppins;
}
.conversion-output1 {
  width: 100%;
  height: 29.188em;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #f5f5f5;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 2.063em 1.25em 3.75em 1.875em;
  gap: 26.813em;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .structure {
    flex-wrap: wrap;
  }
  .see-how-parsiq1 {
    min-width: 100%;
  }
  .use-cases-title-wrapper {
    padding-left: 3.313em;
    box-sizing: border-box;
  }
  .use-cases1 {
    gap: 2.75em;
  }
  .output {
    padding-left: 6.938em;
    box-sizing: border-box;
  }
  .conversion-output1 {
    height: auto;
    gap: 13.375em;
  }
}
@media screen and (max-width: 1050px) {
  .modular-blockchain-development {
    font-size: 2.813em;
    line-height: 1.378em;
  }
  .buttons {
    gap: 2.188em;
  }
  .container-90 {
    flex: 1;
  }
  .container-90-parent {
    flex-wrap: wrap;
  }
  .see-how-parsiq1 {
    font-size: 2.063em;
    line-height: 1.394em;
  }
}
@media screen and (max-width: 750px) {
  .button-66 {
    flex: 1;
  }
  .buttons {
    flex-wrap: wrap;
  }
  .container-90,
  .container-91 {
    min-width: 100%;
  }
  .container-90-parent {
    gap: 1.688em;
  }
  .architecture {
    gap: 1.25em;
  }
  .development {
    gap: 1.125em;
  }
  .web-games-content {
    gap: 1.25em;
  }
  .container-591,
  .use-cases-title-wrapper {
    padding-left: 1.625em;
    box-sizing: border-box;
  }
  .container-591 {
    flex-wrap: wrap;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
  .use-cases1 {
    gap: 1.375em;
  }
  .conversion-output2 {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    box-sizing: border-box;
  }
  .output {
    padding-left: 3.438em;
    box-sizing: border-box;
  }
  .conversion-output1 {
    gap: 6.688em;
  }
}
@media screen and (max-width: 450px) {
  .modular-blockchain-development {
    font-size: 2.125em;
    line-height: 1.382em;
  }
  .idea {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .button-66 {
    min-width: 100%;
  }
  .buttons {
    gap: 1.063em;
  }
  .container-90 {
    padding-left: 1.25em;
    padding-right: 1.25em;
    box-sizing: border-box;
  }
  .idea2,
  .use-cases2 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .use-cases2 {
    font-size: 1.25em;
  }
  .use-cases-heading {
    padding-left: 1.25em;
    padding-right: 1.25em;
    box-sizing: border-box;
  }
  .see-how-parsiq1 {
    font-size: 1.563em;
    line-height: 1.4em;
  }
  .leverage-for-web32 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .container-621 {
    gap: 1.313em;
  }
  .compliance-aml1 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .container-601 {
    gap: 1.313em;
  }
  .container-62-parent {
    gap: 1em;
  }
  .research-analysis {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .container-64 {
    gap: 1.063em;
  }
  .leverage-for-nft1 {
    font-size: 1.125em;
    line-height: 1.611em;
  }
  .research {
    gap: 1em;
  }
  .learn-level-up1,
  .leverage-for-trading {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .learn-level-up-content {
    gap: 1.313em;
  }
  .trading {
    gap: 1em;
  }
  .output {
    padding-left: 1.25em;
    box-sizing: border-box;
  }
  .conversion-output1 {
    gap: 3.375em;
  }
}
