.codbox {
  text-decoration: none;
  position: relative;
  font-size: 1.125em;
  line-height: 1.389em;
  color: inherit;
  display: inline-block;
  min-width: 3.667em;
  white-space: nowrap;
}
.button-1,
.button-1-wrapper {
  display: flex;
  align-items: flex-start;
}
.button-1 {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #242424;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.125em 1.188em 0.125em 1.25em;
}
.button-1-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0.563em;
}
.products {
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  display: inline-block;
  min-width: 6.714em;
  white-space: nowrap;
}
.products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.938em 0 0;
}
.products1 {
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-family: Manrope;
  color: #171a1f;
  white-space: pre-wrap;
  text-align: left;
}
.product-item {
  flex: 1;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
  z-index: 1;
}
.products2 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-weight: 700;
  font-family: Manrope;
  color: #171a1f;
  white-space: pre-wrap;
  text-align: left;
}
.product-item1 {
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
  margin-left: -0.5em;
}
.product-item-parent,
.product-item1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.products3 {
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-family: Manrope;
  color: #171a1f;
  white-space: pre-wrap;
  text-align: left;
}
.frame {
  flex: 1;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
}
.products4 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-weight: 700;
  font-family: Manrope;
  color: #171a1f;
  text-align: left;
}
.frame-container,
.frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1 {
  flex: 1;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
  padding: 0.938em 0.5em 0.938em 0;
  white-space: nowrap;
  z-index: 1;
  margin-left: -1.687em;
}
.frame-container {
  width: 15.938em;
}
.start-today {
  text-decoration: none;
  position: relative;
  font-size: 0.875em;
  line-height: 1.571em;
  font-weight: 800;
  font-family: Manrope;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 5.714em;
}
.container-8 {
  cursor: pointer;
  border: 0;
  padding: 0.438em 1.375em 0.438em 1.438em;
  background-color: #5c6df5;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.container-8:hover {
  background-color: #7587ff;
}
.container-8,
.container-8-wrapper,
.frame-group {
  align-items: flex-start;
  justify-content: flex-start;
}
.container-8-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0;
}
.frame-group {
  margin: 0;
  flex: 1;
}
.container-2,
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent {
  width: 49em;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.25em;
}
.container-2 {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefefe;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.375em 1.875em 0.188em;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 1.25em;
  text-align: left;
  color: #171a1f;
  font-family: Manrope;
}
.bittorrent-token {
  margin: 0;
  position: relative;
  font-size: 2.875em;
  line-height: 1.391em;
  font-weight: 700;
  font-family: inherit;
}
.bittorrent-token-wrapper {
  width: 22.813em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25em;
  box-sizing: border-box;
  max-width: 100%;
}
.tokenizing-the-worlds {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: 1.5em;
  line-height: 1.417em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.dalle-2024-06-06-212216-i {
  height: 10.688em;
  width: 9.25em;
  position: absolute;
  margin: 0 !important;
  top: -9.062em;
  left: -2.562em;
  object-fit: cover;
  z-index: 1;
}
.frame-wrapper,
.tokenizing-the-worlds-largest-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tokenizing-the-worlds-largest-parent {
  flex: 1;
  position: relative;
}
.frame-wrapper {
  width: 34em;
  padding: 0 0.063em;
  box-sizing: border-box;
}
.blank-line,
.build-your-website {
  margin: 0;
}
.btt-is-a-container {
  width: 30.813em;
  position: relative;
  font-size: 1em;
  line-height: 1.625em;
  display: inline-block;
  flex-shrink: 0;
  min-width: 30.813em;
  max-width: 100%;
}
.bittorrent-token1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: 4em;
  line-height: 1em;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.image-15 {
  position: absolute;
  top: 0.875em;
  left: 0;
  border-radius: 196px;
  width: 24.5em;
  height: 24.5em;
}
.dalle-2024-06-06-212216-i1 {
  position: absolute;
  top: 0;
  left: 5.25em;
  width: 20.813em;
  height: 21.938em;
  object-fit: contain;
  z-index: 1;
}
.image-15-parent {
  height: 25.375em;
  width: 26.063em;
  position: absolute;
  margin: 0 !important;
  top: -22.187em;
  left: -7.937em;
}
.bittorrent-token-parent,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bittorrent-token-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.frame-wrapper1 {
  width: 19.063em;
  flex-direction: column;
  padding: 9.063em 0 0;
  box-sizing: border-box;
  min-width: 19.063em;
  color: #fff;
  font-family: Lexend;
}
.btt-is-a-trc-20-utility-token-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 1.25em;
  color: #bdc1ca;
  font-family: Manrope;
}
.frame-parent1 {
  width: 67.563em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.688em;
  max-width: 100%;
}
.conversion-output-inner,
.conversion-output3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.conversion-output-inner {
  width: 86.313em;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25em;
  max-width: 100%;
  text-align: left;
  color: #fff;
  font-family: Lexend;
}
.conversion-output3 {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #37383e;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 8.375em;
  gap: 8.625em;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .product-item-parent {
    display: none;
  }
  .bittorrent-token {
    font-size: 2.313em;
    line-height: 1.378em;
  }
  .btt-is-a-container {
    flex: 1;
  }
  .bittorrent-token1 {
    font-size: 3.188em;
    line-height: 1em;
  }
  .frame-wrapper1 {
    flex: 1;
  }
  .btt-is-a-trc-20-utility-token-parent {
    flex-wrap: wrap;
  }
  .conversion-output3 {
    gap: 4.313em;
  }
}
@media screen and (max-width: 700px) {
  .products2 {
    display: none;
  }
  .btt-is-a-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .frame-container {
    display: none;
  }
  .frame-parent {
    gap: 1.125em;
  }
  .bittorrent-token {
    font-size: 1.75em;
    line-height: 1.357em;
  }
  .tokenizing-the-worlds {
    font-size: 1.188em;
    line-height: 1.421em;
  }
  .bittorrent-token1 {
    font-size: 2.375em;
    line-height: 1em;
  }
  .conversion-output3 {
    gap: 2.125em;
  }
}
.truly-decentralised,
.web3-is-not {
  margin: 0;
}
.web3 {
  align-self: stretch;
  position: relative;
  font-size: 1.5em;
  line-height: 1.208em;
}
.flash-off-2 {
  width: 1.313em;
  height: 1.313em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.flash-off-2-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.313em 0 0;
}
.div {
  position: relative;
  font-size: 1.375em;
  line-height: 1.409em;
  display: inline-block;
  min-width: 4.5em;
}
.button-16 {
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.625em 0.625em 0.625em 1.313em;
  gap: 0.5em;
}
.doc {
  margin: 0;
}
.div1 {
  position: relative;
  font-size: 1.375em;
  line-height: 1.409em;
}
.launch-icon1 {
  width: 1.188em;
  height: 1.188em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-15,
.launch-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.313em 0 0;
}
.button-15 {
  flex: 1;
  border-radius: 4px;
  background-color: #080414;
  border: 1px solid #bdc1ca;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.625em 1.25em 0.5em 3.063em;
  min-width: 7.25em;
  gap: 1.25em;
  color: #bdc1ca;
}
.call-to-action,
.web3-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.call-to-action {
  width: 23.875em;
  flex-direction: row;
  align-items: flex-end;
  gap: 2.813em;
  color: #171a1f;
  font-family: Manrope;
}
.web3-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
  min-width: 21.188em;
}
.flash-off-21 {
  height: 1.5em;
  width: 1.5em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mint-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.75em;
}
.a {
  margin-top: -0.333em;
  text-decoration: none;
  position: relative;
  font-size: 1.5em;
  line-height: 1.5em;
  color: inherit;
  display: inline-block;
}
.button-161,
.mint-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.mint-label {
  height: 1.75em;
  flex-direction: row;
  padding: 0;
  flex-shrink: 0;
}
.button-161 {
  height: 4.375em;
  margin: 0 !important;
  position: absolute;
  bottom: -4.125em;
  left: 4.375em;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 1.438em 1.188em;
}
.div2 {
  width: 18.75em;
  position: relative;
  font-size: 1.5em;
  line-height: 1.458em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.button-162,
.token-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.button-162 {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  justify-content: flex-end;
  padding: 0.813em 0;
  box-sizing: border-box;
  z-index: 1;
  color: #171a1f;
}
.token-buttons {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
}
.image-icon {
  height: 4.563em;
  width: 14.313em;
  position: relative;
  object-fit: cover;
}
.image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1.125em;
}
.token-buttons-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.563em;
  max-width: 100%;
}
.image-9-icon {
  width: 22.375em;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.feature-list,
.image-9-wrapper {
  align-self: stretch;
  align-items: flex-start;
}
.image-9-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25em;
  box-sizing: border-box;
  max-width: 100%;
}
.feature-list {
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.813em;
}
.feature-list,
.features,
.header {
  display: flex;
  max-width: 100%;
}
.features {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0.063em;
  box-sizing: border-box;
  min-width: 21.125em;
  margin-left: -6.062em;
  color: #161719;
  font-family: Manrope;
}
.header {
  width: 59em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  row-gap: 20px;
  text-align: left;
  color: #1c202b;
  font-family: Lexend;
}
.onchain {
  align-self: stretch;
  width: 4.278em;
  position: relative;
  font-size: 1.125em;
  line-height: 1.556em;
  display: inline-block;
  flex-shrink: 0;
}
.onchain-wrapper,
.untitled-screen {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.onchain-wrapper {
  align-self: stretch;
  height: 1.75em;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 30.25em;
  flex-shrink: 0;
}
.untitled-screen {
  width: 100%;
  height: 16.563em;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.375em 5.375em 2.813em;
  gap: 18.125em;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  font-family: Lexend;
}
@media screen and (max-width: 925px) {
  .untitled-screen {
    height: auto;
    gap: 9.063em;
    padding-left: 2.688em;
    padding-right: 2.688em;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .web3-parent {
    gap: 1.5em;
    min-width: 100%;
  }
  .features {
    min-width: 100%;
    margin-left: 0;
  }
  .onchain-wrapper {
    padding-left: 15.125em;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .web3 {
    font-size: 1.188em;
    line-height: 1.211em;
  }
  .div,
  .div1 {
    font-size: 1.125em;
    line-height: 1.389em;
  }
  .call-to-action {
    flex-wrap: wrap;
    gap: 1.375em;
  }
  .a,
  .div2 {
    font-size: 1.188em;
    line-height: 1.526em;
  }
  .div2 {
    line-height: 1.474em;
  }
  .onchain-wrapper,
  .untitled-screen {
    padding-left: 1.25em;
    box-sizing: border-box;
  }
  .untitled-screen {
    gap: 4.5em;
    padding-right: 1.25em;
  }
}
.leverage-for-web3 {
  margin: 0;
  position: absolute;
  top: 0.955em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
}
.learn-more {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 55.5px);
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Open Sans";
  color: #171a1f;
  text-align: left;
  display: inline-block;
  min-width: 5.438em;
}
.arrow-right-icon,
.button-30 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon {
  top: calc(50% - 9px);
  left: calc(50% + 37.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-30 {
  cursor: pointer;
  border: 1px solid #222534;
  padding: 0;
  background-color: #f2f3f6;
  top: 12.125em;
  left: 2.938em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-301:hover,
.button-30:hover {
  background-color: #d9d9de;
  border: 1px solid #545966;
  box-sizing: border-box;
}
.image-63-icon {
  position: absolute;
  top: 1.375em;
  left: 1.25em;
  border-radius: 4px;
  width: 1.688em;
  height: 1.688em;
  object-fit: cover;
}
.historical-and-real-time {
  position: absolute;
  top: 3.667em;
  left: 3.6em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  color: #3a4254;
  width: 35.8em;
  height: 8em;
}
.container-62 {
  position: absolute;
  top: 11.875em;
  left: 2.313em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  width: 37.938em;
  height: 15.5em;
}
.leverage-for-web31 {
  margin: 0;
  position: absolute;
  top: 0.955em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
}
.learn-more1 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 55.5px);
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Open Sans";
  color: #171a1f;
  text-align: left;
  display: inline-block;
  min-width: 5.438em;
}
.arrow-right-icon1,
.button-301 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon1 {
  top: calc(50% - 9px);
  left: calc(50% + 37.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-301 {
  cursor: pointer;
  border: 1px solid #222534;
  padding: 0;
  background-color: #f2f3f6;
  top: 12.125em;
  left: 2.938em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.image-63-icon1 {
  position: absolute;
  top: 1.375em;
  left: 1.25em;
  border-radius: 4px;
  width: 1.688em;
  height: 1.688em;
  object-fit: cover;
}
.historical-and-real-time1 {
  position: absolute;
  top: 3.667em;
  left: 3.6em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  color: #3a4254;
  width: 35.8em;
  height: 8em;
}
.container-63 {
  position: absolute;
  top: 11.875em;
  left: 46.563em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  width: 37.938em;
  height: 15.5em;
}
.find-new-ways {
  position: absolute;
  top: 3.6em;
  left: 3.4em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  width: 25.533em;
  height: 6em;
}
.learn-level-up,
.learn-more2 {
  position: absolute;
  color: #171a1f;
}
.learn-level-up {
  margin: 0;
  top: 0.909em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
}
.learn-more2 {
  text-decoration: none;
  top: calc(50% - 11.5px);
  left: calc(50% - 52.5px);
  font-size: 0.938em;
  line-height: 1.533em;
  font-family: "Open Sans";
  text-align: left;
  display: inline-block;
  min-width: 5.467em;
}
.arrow-right-icon2,
.button-35 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon2 {
  top: calc(50% - 9px);
  left: calc(50% + 34.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-35 {
  cursor: pointer;
  border: 1px solid #212432;
  padding: 0;
  background-color: #f2f3f6;
  top: 9.188em;
  left: 2.75em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-32:hover,
.button-33:hover,
.button-35:hover {
  background-color: #d9d9de;
  border: 1px solid #545766;
  box-sizing: border-box;
}
.container-61,
.image-65-icon {
  position: absolute;
  border-radius: 4px;
}
.image-65-icon {
  top: 1.625em;
  left: 1.375em;
  width: 1.375em;
  height: 1.375em;
  object-fit: cover;
}
.container-61 {
  top: 29.5em;
  left: 57.313em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefffe;
  width: 27.313em;
  height: 12.063em;
  color: #3a4254;
}
.compliance-aml,
.learn-more3 {
  position: absolute;
  display: inline-block;
}
.compliance-aml {
  margin: 0;
  top: 0.909em;
  left: 2.455em;
  font-size: 1.375em;
  line-height: 1.545em;
  font-weight: 700;
  font-family: inherit;
  min-width: 5.773em;
}
.learn-more3 {
  text-decoration: none;
  top: calc(50% - 11.5px);
  left: calc(50% - 52.5px);
  font-size: 0.938em;
  line-height: 1.533em;
  font-family: "Open Sans";
  color: #171a1f;
  text-align: left;
  min-width: 5.467em;
}
.arrow-right-icon3,
.button-32 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon3 {
  top: calc(50% - 9px);
  left: calc(50% + 34.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-32 {
  cursor: pointer;
  border: 1px solid #262937;
  padding: 0;
  background-color: #f2f3f6;
  top: 9em;
  left: 2.813em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-32:hover,
.button-33:hover {
  border: 1px solid #595c6b;
}
.image-66-icon {
  position: absolute;
  top: 1.625em;
  left: 1.438em;
  border-radius: 4px;
  width: 1.375em;
  height: 1.25em;
  object-fit: cover;
}
.full-sets-of {
  position: absolute;
  top: 4.533em;
  left: 2.267em;
  font-size: 0.938em;
  line-height: 2em;
  display: inline-block;
  color: #3a4254;
  width: 27.067em;
  height: 4em;
}
.container-60 {
  position: absolute;
  top: 29.5em;
  left: 1.813em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  border-radius: 4px;
  background-color: #fefffe;
  width: 27.313em;
  height: 12.063em;
}
.insights-into-your {
  position: absolute;
  top: 3.733em;
  left: 3.6em;
  font-size: 0.938em;
  line-height: 1.867em;
  display: inline-block;
  width: 21em;
  height: 5.6em;
}
.learn-more4,
.leverage-for-nft {
  position: absolute;
  color: #171a1f;
  display: inline-block;
}
.leverage-for-nft {
  margin: 0;
  top: 0.87em;
  left: 2.435em;
  font-size: 1.438em;
  line-height: 1.565em;
  font-weight: 700;
  font-family: inherit;
  width: 14.087em;
  height: 1.565em;
}
.learn-more4 {
  text-decoration: none;
  top: calc(50% - 11.5px);
  left: calc(50% - 52.5px);
  font-size: 0.938em;
  line-height: 1.533em;
  font-family: "Open Sans";
  text-align: left;
  min-width: 5.467em;
}
.arrow-right-icon4,
.button-33 {
  position: absolute;
  overflow: hidden;
}
.arrow-right-icon4 {
  top: calc(50% - 9px);
  left: calc(50% + 34.5px);
  width: 1.125em;
  height: 1.125em;
}
.button-33 {
  cursor: pointer;
  border: 1px solid #242735;
  padding: 0;
  background-color: #f2f3f6;
  top: 9.063em;
  left: 2.875em;
  border-radius: 19px;
  box-sizing: border-box;
  width: 9.063em;
  height: 2.313em;
  white-space: nowrap;
}
.button-33:hover {
  border: 1px solid #575969;
}
.container-59,
.image-68-icon {
  position: absolute;
  border-radius: 4px;
}
.image-68-icon {
  top: 1.75em;
  left: 1.5em;
  width: 1.375em;
  height: 1.188em;
  object-fit: cover;
}
.container-59 {
  top: 29.5em;
  left: 31.063em;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fefffe;
  width: 23.75em;
  height: 11.938em;
  color: #3a4254;
}
.see-how-parsiq,
.use-cases {
  position: absolute;
  font-weight: 700;
}
.see-how-parsiq {
  margin: 0;
  top: 1.732em;
  left: 4.78em;
  font-size: 2.563em;
  line-height: 1.415em;
  font-family: inherit;
  color: #191e25;
  white-space: pre-wrap;
}
.use-cases {
  text-decoration: none;
  top: 1.16em;
  left: 7.84em;
  font-size: 1.563em;
  line-height: 1.52em;
  color: #3a4254;
}
.checkbox-circle-1 {
  position: absolute;
  top: 3.813em;
  left: 0.313em;
  width: 1.25em;
  height: 1.25em;
  overflow: hidden;
  display: none;
}
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.checkbox-circle-1-parent,
.image-64-icon {
  position: absolute;
  top: 1.813em;
  left: 3.5em;
  width: 6.188em;
  height: 6.25em;
}
.image-64-icon {
  top: 22.688em;
  left: 0.25em;
  border-radius: 4px;
  width: 0.625em;
  height: 0.625em;
  object-fit: cover;
}
.conversion-output {
  width: 100%;
  height: 42.938em;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: rgba(90, 97, 110, 0.54);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #171a1f;
  font-family: Poppins;
}
@media screen and (max-width: 750px) {
  .see-how-parsiq {
    font-size: 2.063em;
    line-height: 1.394em;
  }
}
@media screen and (max-width: 450px) {
  .compliance-aml,
  .learn-level-up,
  .leverage-for-web3,
  .leverage-for-web31 {
    font-size: 1.125em;
    line-height: 1.5em;
  }
  .leverage-for-nft {
    font-size: 1.125em;
    line-height: 1.611em;
  }
  .see-how-parsiq {
    font-size: 1.563em;
    line-height: 1.4em;
  }
  .use-cases {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}
